body {
	background: #eeeeee;
  color: #333;
  padding-top: 120px;
}

h1 {
	padding-left: 20px;
	font-size: 197%;
  font-weight: bold;
  margin: 0;
}

a {
   text-decoration: none;
     list-style: none;
}

p {
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

ul {
  padding: 0;
}

pre {
	line-height: 1.1em;
	margin-bottom: 0.4em;
	white-space: pre-wrap ;
	font-family: inherit;
	font-size: 18px;
	font-weight: 300;
}


/* header画像 */
.navbar-brand {
  background: url("/images/favicon.png") no-repeat left center;
  background-size: contain;
  height: 60px;
  width: 120px;
}


#head {
  background: #66cccc;
	color: #fff;
	padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
#wrap {
	width: 802px;
  margin: 0 auto;
  font-size: 12px;
}

#content {
	padding: 20px;
	background: white;
	width: 730px;
	min-height: 490px;
	margin: 0 auto;
	margin-bottom: 10px;
  font-size: 130.9%;
  border-radius: 4px;
}

/* ページネーション */
.paging {
	margin: 15px 0;
	text-align: center;
}
.paging li {
	display: inline;
	list-style: none;
}

/* 投稿部分のレイアウト */
.msg {
	clear: both;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.msg img {
	float: left;
	margin-right: 5px;
	
}
.msg a {
	display: inline-block;
	margin-left: 10px;
}
.msg p {
	margin: 0;
}
.msg .under_pic,
.msg .under_pic a {
	font-size: 80%;
	color: #999;
}
.msg .reply a {
color: #666666;
}

/* 投稿画面でボタンを画像下に回り込ませないように */
.float_text { 
  overflow:auto; zoom:1; 
}

/* 名前カラー */
.name {
	font-size: 10px;
	color: #BB1850;
}

/* 投稿ボタン */
.hover {
  background-color: white;
  font-size: 11px;
  border-radius: 5px;
  padding: 2px 30px;
}
.hover:hover {
  background-color: yellow;
  font-size: 11px;
  border-radius: 5px;
}

/* 返信ボタン */
.btn,
a.btn,
button.btn {
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  /* position: relative; */
  display: inline-block;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-radius-gradient-wrap {
  display: inline-block;
  padding: 0.2rem;
  border-radius: 100vh;
  background: #f2f5f6;
  background: -webkit-linear-gradient(
    to top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f2f5f6),
    color-stop(37%, #e3eaed),
    to(#96a1a5)
  );
  background: -webkit-linear-gradient(
    top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#96a1a5', GradientType=0);
}

a.btn-radius-gradient {
  border-radius: 100vh;
  background: #e3eaed;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e3eaed),
    to(#f2f5f6)
  );
  background: -webkit-linear-gradient(top, #e3eaed 0%, #f2f5f6 100%);
  background: linear-gradient(to bottom, #e3eaed 0%, #f2f5f6 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eaed', endColorstr='#f2f5f6', GradientType=0);
}

a.btn-radius-gradient:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
