body {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  padding-top: 120px;
  background: #eeeeee;
}

/* header画像 */
.navbar-brand {
  background: url("/images/favicon.png") no-repeat left center;
  background-size: contain;
  height: 60px;
  width: 120px;
}

.card-body {
  padding: 25px;
}

.font-small {
  font-size: 0.8rem !important;
}

.btn {
  padding: 4px 14px;
  margin: 0 10px 6px 0;
}

.clear-button {
  margin: 18px 0;
}

.o-img {
  opacity: 0.5;
  /* height: 40px; */
}

/* 投稿ボタン装飾----- */
button {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
.button {
    position: relative;
    display: inline-block;
    padding: 1em 2em 1em 1em;
    margin: 1em 0;
    width: 45%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 1;
    background: #5bbee5;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    text-indent: 0.1em;
    letter-spacing: 0.1em;
    border-radius: 1.5em;
    box-sizing:border-box;
    cursor:pointer;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  transition: right 0.5s;
}
.button:hover:after{
  right: 1em;
}
.button:focus {
	outline:0;
}
/* -----投稿ボタン装飾 */


@media screen and (min-width: 768px) {
  /* 768px以上に適用されるCSS（タブレット用） */
.widthSize {
  padding: 0 80px;
}
}